<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fiberbeamportal">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-feature android:name="android.hardware.screen.portrait"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FiberBeamPortal">

        <activity android:name=".ShowUsersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FreeCustomer"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewBillsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminDashboard"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddNewUser"
            android:screenOrientation="portrait"/>
        <activity android:name=".PayBill"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddCustomer"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserDashboard"
            android:screenOrientation="portrait"/>
        <activity android:name=".User"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>